body{
    margin: 0;
    padding: 0;
    background-color: #c3f6ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


form{
    background-color: #068bff;
    width: 350px;
    height: max-content;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
form > div{
    margin: 10px;
}

form input{
    height: 30px;
    border-radius: 5px;
    border: none;
}


form .submit{
    display: flex;
    flex-direction: column;
}