body{
    margin: 0;
    padding: 0;
    background-color: unset;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


form{
    background-color: #b6f4ff;
    /* width: 350px; */
    height: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.login-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: fit-content;
}
.login-title h2{
    margin: unset;
}

form div{
    margin: 10px;
}

form input{
    height: 25px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
form input:hover{
    /* border: 1px solid black; */
    background-color: #eeeeee;
}
form .submit {
    display: flex;
}
form .submit button{
    background-color:#00d9ff ;
    color: #FFFFFf;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 4px;
}
form .submit button:hover{
    border: 2px solid #0a0a0a;
    background-color: #FFFFFf;
    color: unset;
}

form .submit span{
    display: flex;
    align-items: center;
}

.form-group.error {
    border-color: red;
}



