.search-container{    
    width: 80%;
    min-height: 400px;
    margin: 30px auto;
    /* padding-top:30px ; */
    box-sizing: border-box;
}

.search-box{
    border: var(--box-border);
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.search-box input{
    background-color: #FEFEFE;
    width: 150px;
    height: 30px;
    margin: 0 10px;
    border: var(--box-border);
    font-size: 15px;
    color: #101010;
    border-radius: inherit;
    padding: 0 5px;
}

.search-box button{
    background-color:var(--buttons-bgc);
    border-radius: 15px;
    color:var(--button-text);
    border: 0;
    width: 90px;
    height: 30px;
    padding: 0;
    margin: 0;
    font-size: 1em;
}
.search-box button:hover{
    background-color: #edf7fd;
    border-radius: 15px;
    color: #0c1cfa;
    border: 1px solid #000000;
}
.search-box button:active{
    border: 1px solid #187b7d;
    color: #05061f;
}

.result-box{
    background-color:var(--container-bg);
    width: 100%;
    padding: 15px 15px;
    margin: auto;
    margin-top:30px ;
    box-sizing: border-box;
    border-radius: 10px;
    /* border: 1px solid #000000; */
}   
.result-table{

    width: 100%;
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
}
.table-head tr th{
    padding: 10px 0;
    text-align: left;
    font-size: 23px;
    padding-left: 0;
}
.result-table tbody tr:hover{
    background-color:var(--hover);
}

.result-table tbody tr td{
    padding: 8px 2px;

}

.more-info a{
    background-color: var(--buttons-bgc);
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 23px;
    border-radius: 10px;
    text-decoration: none;
    color:var(--button-text);
}
.more-info a:active{
    box-sizing: border-box;
    background-color:var(--active);
    color: var(--active-text);
    border:var(--box-border);
}
