.attnd-container{
    background-color: var(--container-bg);
    width: 80%;
    margin: 30px auto;
    min-height: 400px;

    padding: 10px;
    box-sizing: border-box;
}
.batch-select{
    background-color: var(--buttons-bgc);
    width: 100px;
    height: 30px;
    border: .5px solid #808080;
    font: 15px;
    font-weight: 800;
}
.batch-select option{
    background-color: var(--buttons-bgc);
    /* font-weight: inherit; */
}

.attnd-table-batch{
    width: 100%;
    height: fit-content;
    text-align: center;
    border-collapse: collapse;
    box-sizing: border-box;
    padding-bottom: 10px;
    /* border:#2f2b27 solid 1px; */
}
.attnd-table-batch thead th{
    border:var(--box-border);
}

.attnd-table-batch tbody tr:hover{
    background-color:var(--hover);
}
.attnd-table-batch tbody tr td{
    padding: 10px 0;
    width: fit-content;
}



